* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: chocolate;
    color: white;
    font-family: cursive;
}
button {
    background-color: crimson;
    color: white;
    font-family: cursive;
    border: 2px dashed white;
    border-radius: 5px;
    transition: all 300ms ease;
}
button:hover {
    background-color: white;
    color: crimson;
    border: 2px solid crimson;
    transform: scale(1.1);
}