* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.LOREM1 {
    background-color: purple;
    grid-column-start: 1;
    margin-right: 50px;
    height: 75px;
}
.LOREM2 {
    background-color: purple;
    grid-column-start: 2;
    grid-row-start: 1;
    height: 75px;
}
.LOREM3 {
    background-color: purple;
    grid-column-start: 3;
    grid-row-start: 1;
    margin-left: 50px;
    height: 75px;
}
.LOREM4 {
    background-color: purple;
    grid-column-start: 2;
    grid-row-start: 1;
    height: 75px;
}
.LOREM5 {
    background-color: purple;
    grid-column-start: 1;
    margin-right: 50px;
    height: 75px;
}
.LOREM6 {
    background-color: purple;
    grid-column-start: 2;
    grid-row-start: 1;
    height: 75px;
}