button {
    background-image: linear-gradient(red, orange);
    font-family: cursive;
    border: 2px solid black;
    transition: all 300ms ease;
}
button:active {
    transform: translateX(20px);
    background-image: linear-gradient(yellow, yellowgreen);
}