* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Trowel {
    display: flex;
    justify-content: center;
}
.Alpha {
    display: flex;
    gap: 150px;
    justify-content: center;
}
img {
    border-radius: 50%;
    margin-left: 30px;
}
.Shopg {
    width: 120px;
    height: 110px;
    margin-right: 110px;
}
.Lilleborg {
    width: 120px;
    height: 110px;
    margin-right: 30px;
}
.Archey {
    width: 120px;
    height: 110px;
    margin-right: 140px;
}