* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    background-color: purple;
    color: white;
    font-family: sans-serif;
}
nav {
    display: flex;
    gap: 10px;
    background-color: pink;
    height: 50px;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 300ms ease;
}
nav:active {
    background-color: rgb(68, 45, 214);
    transform: rotate(360deg);
    cursor: pointer;
}
div {
    display: flex;
    gap: 110px;
    padding: 10px;
}
h1 {
    border-radius: 10px;
    background-color: pink;
    transition: all 300ms ease;
}
h1:active {
    background-color: rgb(68, 45, 214);
    transform: rotate(360deg);
    cursor: pointer;
}