* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
  color: orange;
}
header {
  display: flex;
  gap: 15px;
  margin-left: 350px;
}
img {
  border-radius: 10px;
  border: 10px solid black; 
}
main {
  margin-right: 150px;
}