* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(90deg, blue, lightblue, white);
    color: white;
    font-family: cursive;
}
img {
    border: 2px solid white;
    border-radius: 5px;
}
select, option {
    background-color: skyblue;
    color: white;
    font-family: cursive;
}
select, option:hover {
    cursor: pointer;
}
button {
    border: 2px solid white;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
    font-family: cursive;
    transition: all 2s ease;
}
button:hover {
    cursor: pointer;
    transform: translateX(20px);
}