* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
b {
  color: orange;
}
.stat {
  color: orange;
}
.Statistics {
  display: flex;
  gap: 30px;
}
div {
  margin-left: 400px;
}
img {
  margin-left: 400px;
}