* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ae4141;
    columns: white;
    font-family: cursive;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.grid-box-medium {
    height: 300px;
    background-color: #5250d2;
}
.grid-box-big {
    height: 300px;
    background-color: #5250d2;
    -ms-grid-column-span: 2;
}
.grid-box-small {
    height: 100px;;
    background-color: #5250d2;
}
.grid-box-small-span-1 {
    grid-column: span 2;
    background-color: #5250d2;
}